<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FixedAssetDBConnectionString" connectionString="Data Source=general-development-001.database.windows.net;Initial Catalog=generaldevelopment;Persist Security Info=True;User ID=test-azure01;Password=Password123456;"
      providerName="System.Data.SqlClient" />
    <add name="SRA_PRODConnectionString" connectionString="Data Source=general-development-001.database.windows.net;Initial Catalog=generaldevelopment;Persist Security Info=True;User ID=test-azure01;Password=Password123456;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <appSettings>
    <add key="DEV" value="Data Source=.\SQLEXPRESS;Initial Catalog=MACQ;Persist Security Info=True;User ID=admin;Password=admin;"/>    
    <add key="PROD" value="Data Source=.\SQLEXPRESS;Initial Catalog=MACQ;Persist Security Info=True;User ID=admin;Password=admin;"/>
    <add key="ACTIVE_SERVER" value="PROD"/>
    <add key="SERVER_NAME" value="10.104.7.160"/>
    <add key="DB_NAME" value="SRA_PROD"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="FAQ" value="Having a website built can be an overwhelming experience, even for the most IT savvy people. At TEAM7, we are here to support you through the whole process to help create a better working environment and deliver results for your business.  This aims to guide you on all your questions and if you are not satisfied or the question doesn't exist here, you may call on our IT Helpdesk (02) 902-8818 ext. 1120."/>
    <add key="Saying1" value="UHACK Hackaton is the event that will bring together &#xA;                                            Industry experts, students and coders."/>
    
    <add key="Saying2" value="Smart City Transport is a facility to add station, station line, station store, etc  &#xA;                                            needed in Maquarie Transport Syetem."/>
    
    <add key="BudgetClassId" value="10"/>
    <add key="BCApproverbyId1" value="14"/>
    <add key="BCApproverbyId2" value="15"/>
    <add key="BCNotedbyId" value="13"/>
    <add key="BCEvaluatedbyId" value="12"/>
	<add key="DefaultPoValue" value=""/>
	<add key="BCFinal" value="94"/>
	<add key="FIRST_APPROVER" value="EBL - APPROVER 1"/>
	<add key="SECOND_APPROVER" value="EBL - APPROVER 2"/>
	  <!--Class ID-->
    <add key="FATMClassId" value="11"/>
	<add key="EBL_PROJECTLOV_PARENTID" value="75"/>

    <!--Control ID-->
    <add key="ctlBudgetId" value="10"/>
    <add key="ctlPoRece" value="3"/>
    <add key="ctlFATM" value="1"/>
    <add key="ctlTRF" value="11"/>
	<add key="ctlBILL" value="14"/>

    <add key="TransferApproved" value="27"/>
    <!--lookup id ***** FATMClassId 11-->
    <add key="Accountability" value="28"/>
    <!--lookup id ***** FATMClassId 11-->
    <add key="Accountable" value="29"/>
    <!--lookup id ***** FATMClassId 11-->
    <add key="ReleaseBy" value="30"/>
    <!--lookup id ***** FATMClassId 11-->
    <add key="ReceivedBy" value="31"/>
    <!--lookup id ***** FATMClassId 11-->

    <add key="PrintFormat" value="33"/>
    <!--lookup Parent id ***** FATMClassId 11-->

    <!--Folder-->
    <add key="PrintDestination" value="\zxczxc\iii.pdf"/>
    <add key="copyToPath" value="/Print/iii.pdf"/>
    <add key="CopyFileName" value="\iii.pdf"/>
    <add key="CreateFileName" value="/Print/iiii.pdf"/>
    <add key="mergeFileName" value="\iiii.pdf"/>
    <add key="SourchFolder" value="/Print"/>
    <add key="ReportServer" value="http://10.104.7.150/ReportServer"/>

    <add key="f_acct_PrintDestination" value="\zxczxc\acct.pdf"/>
    <add key="f_acct_copyToPath" value="/Print/acct.pdf"/>
    <add key="f_acct_CopyFileName" value="\acct.pdf"/>
    <add key="f_acct_CreateFileName" value="/Print/xacct.pdf"/>
    <add key="f_acct_mergeFileName" value="\xacct.pdf"/>
    <add key="f_acct_SourchFolder" value="/Print"/>
    <add key="f_acct_ReportServer" value="http://10.104.7.150/ReportServer"/>

    <add key="f_user_PrintDestination" value="\zxczxc\user.pdf"/>
    <add key="f_user_copyToPath" value="/Print/user.pdf"/>
    <add key="f_user_CopyFileName" value="\user.pdf"/>
    <add key="f_user_CreateFileName" value="/Print/xuser.pdf"/>
    <add key="f_user_mergeFileName" value="\xuser.pdf"/>
    <add key="f_user_SourchFolder" value="/Print"/>
    <add key="f_user_ReportServer" value="http://10.104.7.150/ReportServer"/>

    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  </appSettings>
 
</configuration>